.fundo {
  background-color: #454647;
  margin: 0;
  padding-top: 10%;
  padding-bottom: 5%;
}

@media (max-width: 772px) {
  .fundo {
    padding-top: 25%;
  }
}

@media (max-width: 430px) {
  .fundo {
    padding-top: 35%;
  }
}

.main {
  max-width: 70vw;
  margin: 0 auto;
  color: white;
}

@media (max-width: 430px) {
.main {
  max-width: 80vw;
  margin: 0 auto;
  color: white;
  background-color: #454647;
}
}

h2 {
  text-align: left;
  font-size: 2.1vw;
  padding-bottom: 5%;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.botaoForm,
select,
textarea,
.butt {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.content01 {
  flex: 1 1 40%;
  min-width: 200px;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

#cont2 {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  flex-wrap: wrap;
}

.esq {
  justify-self: left;
}

.dir {
  justify-self: right;
}

.formpag {
  height: 200px;
  width: auto;
}

.butt {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 10px;

  background-color: #2d83a6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.butt:hover {
  background-color: #256985;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.popup img {
  max-width: 60%;
  max-height: 60%;
}

.popup.show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.1rem;
  }
}